*{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
body{
    position: calc(50% - 50px);
    background-image: url(hd.jpg);
    background-size: cover;
    justify-content: center;
}
button{
    
    border-width: 0px;
    border-radius: 1.5px;
    width: 265px;
    height:30px;
    font-size: 18;
    color: black;
    transition-duration: 0.4s;
}
button:hover{
    background-color: blueviolet;
    color: white;
}
div{
    
    position: absolute;
    top:25%;
    left:40%;
    background-color:white;
    width:310px;
    height: 330px;
    border-radius: 15px;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.5);
    display: inline-block;
}
h1{ 
    color:white;
    
    text-align: center;
    padding-right: 0px;
    justify-content: center;
    
}
a{
    text-decoration: none;
}
#f{
    font-size: 11px;
}
hr{
    width: 55px;
}
h3{
    color:white;
}
#it{
    color:black;
}